footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
}

#roll-button {
  padding: 10px;
  font-size: 16px;
  display: block;
}

.dice {
  width: 50px;
  height: 50px;
  margin: 5px;
}